---

---

<nav class="bg-blue-600 text-white p-4 flex justify-around text-sm uppercase font-semibold">
    <a href="/" class="hover:text-gray-300 border-b-2 border-transparent hover:border-white transition duration-300">
        Accueil
    </a>
    <a href="/offres" class="hover:text-gray-300 border-b-2 border-transparent hover:border-white transition duration-300">
        Offres
    </a>
</nav>
